{% extends 'manager/base.html' %}

{% block title %}{% if form.instance.pk %}Edit Task{% else %}Create Task{% endif %}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit Task{% else %}Create Task{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        

        {% if form.errors %}
            <div style="color: red;">
                <strong>Form Errors:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        <li>
                            <strong>{{ field }}:</strong>
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button type="submit">Save</button>
        <button type="button" onclick="location.href='{% url 'project_detail' id=project.id %}';">Cancel</button>
        
    </form>
{% endblock %}