/* Basic Styling for the Project Management Static website App */
body {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #276419;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: disc;
    padding-left: 50px;
    margin: 5px 0;
  }

  li {
    margin: 5px 0;
  }

  li a {
    text-decoration: none;
    color: #2166ac;
  }

  li a:hover {
    text-decoration: underline;
  }

main {
    margin: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #276419;
    color: white;
}

button {
    background-color: #e6f5d0;
    border: 2px solid #276419;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: 3px;
    margin: 3px;
}

input, textarea {
    font-family: Tahoma, Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}


.progress-bar-container {
    width: 50%;
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 24px;
}

.progress-bar {
    height: 100%;
    background-color: #c51b7d;    
    border-radius: 5px;    
}

.overdue-task {
    background-color: #fde0ef;  
    color: #8e0152;          
}

.overdue-warning {
    color: red;
    font-weight: bold;
}