<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Project Management System</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/static/index.html">Home</a></li>
                <li><a href="/static/project_list.html">Projects</a></li>
                <li><a href="/static/project_form.html">New Project</a></li>
            </ul>
        </nav>
    </header>
    <h1 style="text-align: center;">Welcome to Project Management System</h1>
<footer>
    <p>&copy;2025 O.Parshakov</p>
    <p>Dream it. Build it.</p>
</footer>
</body>
</html>
